.text-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 22px);
  box-sizing: border-box;

  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  overflow-y: scroll;

  font-family: 'Consolas';
  font-size: 11pt;

  outline: none;
  border: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 2px solid rgb(243, 243, 243);
}

.coordinate-bar-row {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  height: 22px;
  width: 100%;
  border-top: 2px solid rgb(216, 216, 216);
  background-color: rgb(241, 241, 241);
  font-size: 9pt;
}

.coordinate-bar-element-col {
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(216, 216, 216);
  padding-left: 6px;
  overflow: hidden;
}

.col-0 {
  flex-grow: 1;
}
.col-1 {
  width: 133px;
  min-width: 133px;
}
.col-2 {
  width: 43px;
  min-width: 43px;
}
.col-3 {
  width: 113px;
  min-width: 113px;
}
.col-4 {
  width: 114px;
  min-width: 114px;
}
